<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
</head>
<body>
  <div class = 'container'>
    <center><h1>Posts</h1></center>
    <% @articles.each do |article| %>
      <h2><%= article.title %></h2>
      <p><%= article.text %></p>
      <p>
        <%= link_to 'Show', article_path(article), class: 'btn btn-md btn-success'%>
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-md btn-primary' %>
        <%= link_to 'Destroy', article_path(article), class: 'btn btn-md btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' }
                  %>
      </p>
      <hr>
    <% end %>
    <%= link_to 'Add article', new_article_path, class: 'btn btn-md btn-info' %>
  </div>
</body>
</html>