<%= form_with :url => "check" do |form| %>
  <p>
    <%= form.label :Username %><br>
    <%= form.text_field :username, :class => 'form-control' %>
  </p>
  <p>
    <%= form.label :Password %><br>
    <%= form.text_field :password, :class => 'form-control' %>
  </p>
  <p>
    <%= form.submit "Log in", :class =>'btn btn-md btn-success' %>
  </p>
<% end %>
